<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service android:name="com.capacitorjs.plugins.pushnotifications.MessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <provider
            android:name="com.capacitorjs.plugins.pushnotifications.NotificationContentProvider"
            android:authorities="com.capacitorjs.plugins.pushnotifications"
            android:enabled="true"
            android:exported="true">
        </provider>
    </application>
</manifest>
